#root {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Responsive container: 1320px max on large desktop */
.container-responsive {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .container-responsive { padding-left: 1.5rem; padding-right: 1.5rem; }
}
@media (min-width: 1024px) {
  .container-responsive { padding-left: 2rem; padding-right: 2rem; }
}
@media (min-width: 1280px) {
  .container-responsive { padding-left: 2rem; padding-right: 2rem; }
}
@media (min-width: 1440px) {
  .container-responsive { padding-left: 1.5rem; padding-right: 1.5rem; }
}
