@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/montserrat/v31/JTUQjIg1_i6t8kCHKm459WxRxC7mw9c.woff2")
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@theme {
  --color-jaz-dark: #00A3A0;
  --color-jaz: #55BAB5;
  --color-jaz-light: #96D5D1;
  --font-sans: "Montserrat", sans-serif;
}

:root,
body {
  font-family: "Montserrat", sans-serif;
}
